<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>T</key>
	<dict>
		<key>public.kern2.h-l</key>
		<integer>-200</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>a</key>
		<integer>0</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>j</key>
		<integer>-200</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>k</key>
		<integer>-300</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>public.kern1.c-r</key>
	<dict>
		<key>k</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.d-r</key>
	<dict>
		<key>public.kern2.g-l</key>
		<integer>-200</integer>
		<key>public.kern2.o-l</key>
		<integer>-100</integer>
		<key>public.kern2.r-l</key>
		<integer>-100</integer>
		<key>public.kern2.s-l</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.f-r</key>
	<dict>
		<key>public.kern2.g-l</key>
		<integer>-300</integer>
		<key>public.kern2.o-l</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.g-r</key>
	<dict>
		<key>public.kern2.h-l</key>
		<integer>-200</integer>
		<key>public.kern2.o-l</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.l-r</key>
	<dict>
		<key>public.kern2.h-l</key>
		<integer>-100</integer>
		<key>public.kern2.p-l</key>
		<integer>-200</integer>
	</dict>
	<key>public.kern1.n-r</key>
	<dict>
		<key>public.kern2.g-l</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.o-r</key>
	<dict>
		<key>public.kern2.g-l</key>
		<integer>-100</integer>
		<key>public.kern2.p-l</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.s-r</key>
	<dict>
		<key>public.kern2.h-l</key>
		<integer>-100</integer>
		<key>public.kern2.p-l</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.t-r</key>
	<dict>
		<key>public.kern2.h-l</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.y-r</key>
	<dict>
		<key>public.kern2.p-l</key>
		<integer>-300</integer>
	</dict>
</dict>
</plist>
