<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>Disable Subroutines</string>
			<key>value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Disable autohinting for glyphs</string>
			<key>value</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>Enforce Compatibility Check</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMaster.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>Master Icon Glyph Name</string>
			<key>value</key>
			<string>O</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>m006</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.gridSize</key>
	<integer>50</integer>
	<key>com.schriftgestaltung.gridSubDivision</key>
	<integer>50</integer>
	<key>com.schriftgestaltung.master.name</key>
	<string>Cloud</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>375</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>F</string>
		<string>G</string>
		<string>Gcaron</string>
		<string>H</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>Jacute</string>
		<string>K</string>
		<string>Kcaron</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Germandbls</string>
		<string>T</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Umacron</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>f</string>
		<string>g</string>
		<string>gcaron</string>
		<string>h</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>j</string>
		<string>jdotless</string>
		<string>jacute</string>
		<string>k</string>
		<string>kcaron</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>germandbls</string>
		<string>t</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zcaron</string>
		<string>a.sup</string>
		<string>b.sup</string>
		<string>c.sup</string>
		<string>d.sup</string>
		<string>e.sup</string>
		<string>f.sup</string>
		<string>g.sup</string>
		<string>h.sup</string>
		<string>i.sup</string>
		<string>j.sup</string>
		<string>k.sup</string>
		<string>l.sup</string>
		<string>m.sup</string>
		<string>n.sup</string>
		<string>o.sup</string>
		<string>p.sup</string>
		<string>q.sup</string>
		<string>r.sup</string>
		<string>s.sup</string>
		<string>t.sup</string>
		<string>v.sup</string>
		<string>w.sup</string>
		<string>x.sup</string>
		<string>y.sup</string>
		<string>z.sup</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
		<string>.notdef</string>
		<string>space</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>periodcentered</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>mediumparenrightornament</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>quarternote-musical</string>
		<string>note-musical</string>
		<string>notedbl-musical</string>
		<string>cloud</string>
		<string>sunSymbol</string>
		<string>blackSmilingFace</string>
		<string>firstQuarterMoon</string>
		<string>lastQuarterMoon</string>
		<string>hotsprings</string>
		<string>checkmark</string>
		<string>multiplicationX</string>
		<string>heavyBlackHeart</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>blackLargeCircle</string>
		<string>lowerLeftHalfWhiteSquare</string>
		<string>cent</string>
		<string>dollar</string>
		<string>euro</string>
		<string>sterling</string>
		<string>yen</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>asciicircum</string>
		<string>integral</string>
		<string>summation</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>upArrow</string>
		<string>rightArrow</string>
		<string>downArrow</string>
		<string>leftArrow</string>
		<string>largeCircle</string>
		<string>lozenge</string>
		<string>mediumWhiteSquare</string>
		<string>leftBlackTriangle</string>
		<string>upperRightBlackTriangle</string>
		<string>lowerRightBlackTriangle</string>
		<string>lowerLeftBlackTriangle</string>
		<string>upperLeftBlackTriangle</string>
		<string>upperRightTriangle</string>
		<string>upperLeftTriangle</string>
		<string>mediumBlackSmallSquare</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>hungarumlautcomb</string>
		<string>circumflexcomb</string>
		<string>caroncomb</string>
		<string>brevecomb</string>
		<string>ringcomb</string>
		<string>tildecomb</string>
		<string>macroncomb</string>
		<string>cedillacomb</string>
		<string>ogonekcomb</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>acute</string>
		<string>hungarumlaut</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>ring</string>
		<string>tilde</string>
		<string>macron</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>VTF.dlig</string>
		<string>pixel</string>
		<string>pixel_1000</string>
		<string>pixel_1100</string>
		<string>pixel_1200</string>
		<string>pixel_1300</string>
		<string>pixel_1400</string>
		<string>pixel_4</string>
		<string>pixel_400</string>
		<string>pixel_500</string>
		<string>pixel_600</string>
		<string>pixel_700</string>
		<string>pixel_800</string>
		<string>pixel_900</string>
		<string>pixel_bar</string>
		<string>pixel_bg</string>
		<string>pixel_h_bar</string>
		<string>pixel_line</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>Germandbls</key>
		<string>uni1E9E</string>
		<key>Jacute</key>
		<string>uni004A0301</string>
		<key>Kcaron</key>
		<string>uni01E8</string>
		<key>blackLargeCircle</key>
		<string>uni2B24</string>
		<key>blackSmilingFace</key>
		<string>invsmileface</string>
		<key>brevecomb</key>
		<string>uni0306</string>
		<key>caroncomb</key>
		<string>uni030C</string>
		<key>cedillacomb</key>
		<string>uni0327</string>
		<key>checkmark</key>
		<string>uni2713</string>
		<key>circumflexcomb</key>
		<string>uni0302</string>
		<key>cloud</key>
		<string>uni2601</string>
		<key>dieresiscomb</key>
		<string>uni0308</string>
		<key>dotaccentcomb</key>
		<string>uni0307</string>
		<key>downArrow</key>
		<string>arrowdown</string>
		<key>eightsuperior</key>
		<string>uni2078</string>
		<key>euro</key>
		<string>Euro</string>
		<key>firstQuarterMoon</key>
		<string>uni263D</string>
		<key>fivesuperior</key>
		<string>uni2075</string>
		<key>foursuperior</key>
		<string>uni2074</string>
		<key>guillemetleft</key>
		<string>guillemotleft</string>
		<key>guillemetright</key>
		<string>guillemotright</string>
		<key>heavyBlackHeart</key>
		<string>uni2764</string>
		<key>hotsprings</key>
		<string>uni2668</string>
		<key>hungarumlautcomb</key>
		<string>uni030B</string>
		<key>idotless</key>
		<string>dotlessi</string>
		<key>jacute</key>
		<string>uni006A0301</string>
		<key>jdotless</key>
		<string>uni0237</string>
		<key>kcaron</key>
		<string>uni01E9</string>
		<key>largeCircle</key>
		<string>uni25EF</string>
		<key>lastQuarterMoon</key>
		<string>uni263E</string>
		<key>leftArrow</key>
		<string>arrowleft</string>
		<key>leftBlackTriangle</key>
		<string>uni25C0</string>
		<key>lowerLeftBlackTriangle</key>
		<string>uni25E3</string>
		<key>lowerLeftHalfWhiteSquare</key>
		<string>uni2B14</string>
		<key>lowerRightBlackTriangle</key>
		<string>uni25E2</string>
		<key>macroncomb</key>
		<string>uni0304</string>
		<key>mediumBlackSmallSquare</key>
		<string>uni25FE</string>
		<key>mediumWhiteSquare</key>
		<string>uni25FB</string>
		<key>mediumparenrightornament</key>
		<string>uni2769</string>
		<key>multiplicationX</key>
		<string>uni2715</string>
		<key>ninesuperior</key>
		<string>uni2079</string>
		<key>note-musical</key>
		<string>musicalnote</string>
		<key>notedbl-musical</key>
		<string>musicalnotedbl</string>
		<key>ogonekcomb</key>
		<string>uni0328</string>
		<key>onesuperior</key>
		<string>uni00B9</string>
		<key>quarternote-musical</key>
		<string>uni2669</string>
		<key>rightArrow</key>
		<string>arrowright</string>
		<key>ringcomb</key>
		<string>uni030A</string>
		<key>sevensuperior</key>
		<string>uni2077</string>
		<key>sixsuperior</key>
		<string>uni2076</string>
		<key>sunSymbol</key>
		<string>uni2609</string>
		<key>threesuperior</key>
		<string>uni00B3</string>
		<key>twosuperior</key>
		<string>uni00B2</string>
		<key>upArrow</key>
		<string>arrowup</string>
		<key>upperLeftBlackTriangle</key>
		<string>uni25E4</string>
		<key>upperLeftTriangle</key>
		<string>uni25F8</string>
		<key>upperRightBlackTriangle</key>
		<string>uni25E5</string>
		<key>upperRightTriangle</key>
		<string>uni25F9</string>
		<key>zerosuperior</key>
		<string>uni2070</string>
	</dict>
	<key>public.skipExportGlyphs</key>
	<array>
		<string>mediumBlackSmallSquare</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>hungarumlautcomb</string>
		<string>circumflexcomb</string>
		<string>caroncomb</string>
		<string>brevecomb</string>
		<string>ringcomb</string>
		<string>tildecomb</string>
		<string>macroncomb</string>
		<string>cedillacomb</string>
		<string>ogonekcomb</string>
		<string>pixel</string>
		<string>pixel_1000</string>
		<string>pixel_1100</string>
		<string>pixel_1200</string>
		<string>pixel_1300</string>
		<string>pixel_1400</string>
		<string>pixel_4</string>
		<string>pixel_400</string>
		<string>pixel_500</string>
		<string>pixel_600</string>
		<string>pixel_700</string>
		<string>pixel_800</string>
		<string>pixel_900</string>
		<string>pixel_bar</string>
		<string>pixel_bg</string>
		<string>pixel_h_bar</string>
		<string>pixel_line</string>
	</array>
</dict>
</plist>
