<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.K-r</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern1.T-R</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern1.c-r</key>
    <array>
      <string>c</string>
    </array>
    <key>public.kern1.d-r</key>
    <array>
      <string>d</string>
    </array>
    <key>public.kern1.f-r</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern1.g-r</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern1.h-r</key>
    <array>
      <string>h</string>
    </array>
    <key>public.kern1.l-r</key>
    <array>
      <string>l</string>
    </array>
    <key>public.kern1.n-r</key>
    <array>
      <string>m</string>
      <string>n</string>
    </array>
    <key>public.kern1.o-r</key>
    <array>
      <string>o</string>
      <string>p</string>
    </array>
    <key>public.kern1.q-r</key>
    <array>
      <string>q</string>
    </array>
    <key>public.kern1.r-r</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.s-r</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern1.t-r</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern1.y-r</key>
    <array>
      <string>y</string>
    </array>
    <key>public.kern2.K-l</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern2.T-L</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern2.g-l</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern2.h-l</key>
    <array>
      <string>h</string>
    </array>
    <key>public.kern2.n-l</key>
    <array>
      <string>m</string>
      <string>n</string>
    </array>
    <key>public.kern2.o-l</key>
    <array>
      <string>c</string>
      <string>e</string>
      <string>o</string>
    </array>
    <key>public.kern2.p-l</key>
    <array>
      <string>p</string>
    </array>
    <key>public.kern2.q-l</key>
    <array>
      <string>q</string>
    </array>
    <key>public.kern2.r-l</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern2.s-l</key>
    <array>
      <string>s</string>
    </array>
  </dict>
</plist>
